kicad/V3.kicad_pcb.hierpcb.json
kicad/V3.kicad_pcb.hierpcb.json
kicad/V3-backups
kicad/fp-info-cache
kicad/freerouting.dsn
kicad/temp-freerouting.dsn
firmware/libraries
kicad/production
kicad/V3.stl
kicad_nrf52840/V3-backups
kicad_nrf52840/production
