kicad/V3.kicad_pcb.hierpcb.json
kicad/V3.kicad_pcb.hierpcb.json
kicad/V3-backups
kicad/fp-info-cache
kicad/freerouting.dsn
kicad/temp-freerouting.dsn
firmware/libraries
kicad/production
kicad/V3.stl
kicad_nrf52840/V3-backups
kicad_nrf52840/production
kicad_nrf52840/_autosave-V3.kicad_pcb
kicad_nrf52840/~_autosave-V3.kicad_pcb.lck
kicad_v4/kbplacer.log
kicad_v4/esp32_s3_port/esp32_s3_port-backups
kicad_v4/esp32_s3_port/esp32_s3_port-backups
kicad_v4/esp32_s3_port/fp-info-cache
kicad_v5/esp32_s3_port/esp32_s3_port-backups
kicad_v5/esp32_s3_port/gerber_to_order
kicad_v5/esp32_s3_port/production
kicad_v5/esp32_s3_port/fabrication-toolkit-options.json
kicad_v5/esp32_s3_port/fp-info-cache
kicad_v5/esp32_s3_port/fp-lib-table
kicad_v5/esp32_s3_port/ssd1306.bak
