---
BasedOnStyle: LLVM
IndentPPDirectives: BeforeHash
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
ColumnLimit: 0
IndentCaseLabels: true
IndentGotoLabels: true
