:root{
  background-color:black;
}
#wrap-container{
}
#container {
  --button-width: 55px;
  --button-height: 50px;
  --middle-margin: 0px;
  --thumb-rotation: 120deg;
  --thumb-offset: 170px;


  display:flex;
  flex-direction: row;

  .index{
    transform:translateY(-10px);
  }
  .middle{
    transform:translateY(-15px);
  }
  .ring{
    transform:translateY(-10px);
  }
  .key {
    width: var(--button-width);
    height: var(--button-height);
    margin: 5px;
    border:solid gray;
    border-bottom-width  :7px;
    border-top-width     :5px;
    border-left-width    :5px;
    border-right-width   :5px;
  }

  .finger {
    display: flex;
    flex-direction: column;
  }

  #left-half {
    display: flex;
    flex-direction: row;
    margin-right: calc(var(--middle-margin)/2);

    .thumb {
      transform: 
      rotate(calc(var(--thumb-rotation)*1)) 
      translate(calc(var(--thumb-offset)));
      .two{
        transform:translateX(-10px) rotate(-90deg);
      }
      button{
        transform:rotate(-90deg);
      }
    }
  }

  #right-half {
    display: flex;
    flex-direction: row;
    margin-left: calc(var(--middle-margin)/2);

    .thumb {
      transform: 
      rotate(calc(var(--thumb-rotation)*-1)) 
      translate(calc(var(--thumb-offset)*-1));
      .two{
        transform:translateX(10px) rotate(90deg);
      }
      button{
        transform:rotate(90deg);
      }
    }
  }
}


